repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
        - id: check-added-large-files
        - id: check-merge-conflict
        - id: check-yaml
        - id: end-of-file-fixer
        - id: trailing-whitespace
-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
        - id: black
-   repo: https://github.com/timothycrosley/isort
    rev: 5.5.0
    hooks:
        - id: isort
-   repo: https://gitlab.com/PyCQA/flake8
    rev: 3.8.3
    hooks:
        - id: flake8
-   repo: https://gitlab.com/PyCQA/pydocstyle
    rev: 5.1.1
    hooks:
        - id: pydocstyle
          exclude: notebooks/
          args:
              - --convention=numpy
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.782
    hooks:
        - id: mypy
